body {
    background-color: rgba(139, 34, 34, 0.863);
}
.card {
    display: inline-block;
    padding-bottom: 100%;

    border: 3px solid black;
    background-position: center center;
    background-size: cover;
}

.card:hover {
    opacity: 1;
    cursor: pointer;
}

.container {
    display: grid;
    max-width: 760px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.is-center {
    text-align: center;
    color: white;
}

.pair-1 {
    background-image: url('./assets/card_front_1.jpg');
}
.pair-2 {
    background-image: url('./assets/card_front_2.webp');
}
.pair-3 {
    background-image: url('./assets/card_front_3.webp');
}
.pair-4 {
    background-image: url('./assets/card_front_4.jpg');
}
.pair-5 {
    background-image: url('./assets/card_front_5.jpeg');
}
.pair-6 {
    background-image: url('./assets/card_front_6.jpg');
}
.pair-7 {
    background-image: url('./assets/card_front_7.jpg');
}
.pair-8 {
    background-image: url('./assets/card_front_8.jpg');
}

.is-hidden {
    background-image: url('./assets/card_back.jpg');
    opacity: 0.9;
}
